
body {
    font-family: 'Lato',
    sans-serif;
}

/** Globales **/
.contenedor {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

/* header */
.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh; /* vh es viewport  */
    min-height: 600px;
}
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

/** Navegacion **/

.navegacion a {
    color: white;
    text-decoration: none; /** eliminia la linea que aparece debajo de los menus **/
    font-size: 18px;
    margin-right: 20px;
    font-family: 'Lato',
    sans-serif;
}

.navegacion a:hover{
    color: green;
}

.navegacion a:last-of-type{
    margin: 0;
}