/* Globales */
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}
/* header */
.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh; /* vh es viewport  */
    min-height: 600px;
}